{% extends 'loggedin.html' %}

{% block body %}

<br>
  <h3> Hello {{session.username}} ! </h3>
  <hr>

  {% for row in data %}
  <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">StudentID</th>
      <th scope="col">First name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Instrument</th>
      <th scope="col">Grade</th>
      <th scope="col">Teacher</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ row['StudentID'] }}</td>
      <td>{{ row['StudentFname'] }}</td>
      <td>{{ row['StudentLname'] }}</td>
      <td>{{ row['InstrumentName'] }}</td>
      <td>{{ row['GradeLevel'] }}</td>
      <td>{{ row['TeacherFname'] }}</td>
    </tr>
  </tbody>
</table>
{% endfor %}

{% endblock %}
