{% extends 'teacherSideNav.html' %}
{% block body %}
  <h1>Dashboard <small> Welcome {{session.name}}</small></h1>
  <hr>
  <input type="text" id="myInput" onkeyup="searchBar()" placeholder="&#x1F50D; Search for first names.." title="Type in a name">
  <table id="myTable" class="table table-striped table-light">
    <tr>
      <th scope="col">StudentID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Return Instrument</th>
    </tr>
    {% for data in studentInfo %}
      <tr>
        <td>{{data.StudentID}}</td>
        <td class="name">{{data.StudentFname}}</td>
        <td class="name">{{data.StudentLname}}</td>
        <td><a href="restockInstruments/{{data.StudentID}}" class="btn btn-danger pull-right">Return Instrument</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}