<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MusicManagement</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/teacher-style.css')}}"/>

  </head>
  <body>

   {% include 'includes/_loggedinNav.html' %}
   <div class="navContent">
        <div class="sideNav">
            <br/>
             <h5>Operations</h5>
            <hr>
            <div class="dropdown">
                    <button class="dropbtn">Sort Students By&nbsp;&downarrow;</button>
                    <div class="dropdown-content">
                      <a href="{{url_for('teacher.teacherDashboardViewAllStudents')}}">View All Students</a>
                      <a href="{{url_for('teacher.teacherDashboardSortk')}}">Kindergarten</a>
                      <a href="{{url_for('teacher.teacherDashboardSort1')}}">First Grade</a>
                      <a href="{{url_for('teacher.teacherDashboardSort2')}}">Second Grade</a>
                      <a href="{{url_for('teacher.teacherDashboardSort3')}}">Third Grade</a>
                      <a href="{{url_for('teacher.teacherDashboardSort4')}}">Fourth Grade</a>
                      <a href="{{url_for('teacher.teacherDashboardSort5')}}">Fifth Grade</a>
                      <a href="{{url_for('teacher.teacherDashboardSort6')}}">Sixth Grade</a>
                      <a href="{{url_for('teacher.teacherDashboardDueDate')}}">Upcoming Due Dates</a>
                      <a href="{{url_for('teacher.teacherDashboardSortRecent')}}">Recent Assignments</a>
                    </div>
                  </div>
                  <hr>
                  <a style="color:white;" href="{{url_for('teacher.checkOutInstrument')}}"><p>Check Out Instrument&nbsp;</p></a>
                  <hr>
                  <a style="color:white;" href="{{url_for('teacher.returnInstrument')}}"><p>Return Instrument&nbsp;</p></a>
                  <hr>
                  <a style="color:white;" href="{{url_for('teacher.teacherDashboardCheckParent')}}"><p>View Parents&nbsp;</p></a>
                  <hr>
                  <a style="color:white;" href="{{url_for('teacher.teacherDashboardCheckTeacher')}}"><p>View Teachers&nbsp;</p></a>
                  <hr>
                  <a style="color:white;" href="{{url_for('teacher.teacherDashboardCheckInventory')}}"><p>Check Inventory&nbsp;</p></a>
                  <hr>
                  <a style="color:white;" href="{{url_for('teacher.createInstrument')}}"><p>Add New Instrument&nbsp;</p></a>
                  <hr>
                  <a style="color:white;" href="{{url_for('teacher.createStudent')}}"><p>Create New Student&nbsp;</p></a>
                  <hr>
                  <a style="color:white;" href="{{url_for('teacher.createParent')}}"><p>Create New Parent  &nbsp;</p></a>
                  <hr>
                  <a style="color:white;" href="{{url_for('teacher.createTeacher')}}"><p>Create New Teacher&nbsp;</p></a>
                  <hr>
                  <a style="color:white;" href="{{url_for('teacher.teacherDashboard')}}"><p>Return to dashboard&nbsp;&lAarr;</p></a>
                  <hr>
                  
        </div>
        <div class="contain">
                {% include 'includes/_messages.html' %}
        {% block body %}
        
        {% endblock %}
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static',filename='js/teacher-searchbar.js')}}"></script>
  </body>
</html>